VKMusicRemote.ConsoleTest/Connected Services/MusicService/MusicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MusicService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/MusicService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/MusicService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VKMusicRemote.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusicService_GetUserMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMusic" />
  </wsdl:message>
  <wsdl:message name="IMusicService_GetUserMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_PlaySong_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaySong" />
  </wsdl:message>
  <wsdl:message name="IMusicService_PlaySong_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaySongResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SearchSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSongs" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SearchSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SwitchPlayback_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchPlayback" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SwitchPlayback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchPlaybackResponse" />
  </wsdl:message>
  <wsdl:portType name="IMusicService">
    <wsdl:operation name="GetUserMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/GetUserMusic" message="tns:IMusicService_GetUserMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/GetUserMusicResponse" message="tns:IMusicService_GetUserMusic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaySong">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/PlaySong" message="tns:IMusicService_PlaySong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/PlaySongResponse" message="tns:IMusicService_PlaySong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/SearchSongs" message="tns:IMusicService_SearchSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/SearchSongsResponse" message="tns:IMusicService_SearchSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchPlayback">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/SwitchPlayback" message="tns:IMusicService_SwitchPlayback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/SwitchPlaybackResponse" message="tns:IMusicService_SwitchPlayback_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMusicService" type="tns:IMusicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserMusic">
      <soap:operation soapAction="http://tempuri.org/IMusicService/GetUserMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaySong">
      <soap:operation soapAction="http://tempuri.org/IMusicService/PlaySong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSongs">
      <soap:operation soapAction="http://tempuri.org/IMusicService/SearchSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchPlayback">
      <soap:operation soapAction="http://tempuri.org/IMusicService/SwitchPlayback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusicService">
    <wsdl:port name="BasicHttpBinding_IMusicService" binding="tns:BasicHttpBinding_IMusicService">
      <soap:address location="http://localhost:8080/MusicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>