VKMusicRemote.ConsoleTest/Connected Services/MusicService/MusicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MusicService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VKMusicRemote.DataTransferObjects" />
  <xs:element name="GetUserMusic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMusicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VKMusicRemote.DataTransferObjects" minOccurs="0" name="GetUserMusicResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaySong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VKMusicRemote.DataTransferObjects" minOccurs="0" name="song" nillable="true" type="q2:Song" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaySongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaySongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criterea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchInOwnSongs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VKMusicRemote.DataTransferObjects" minOccurs="0" name="SearchSongsResult" nillable="true" type="q3:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchPlayback">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchPlaybackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchPlaybackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>