VKMusicRemote.ConsoleTest/Connected Services/LoginService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VKMusicRemote.Selenium.Login" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VKMusicRemote.Selenium.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorType" type="tns:LoginError" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginInformation" nillable="true" type="tns:LoginInformation" />
  <xs:simpleType name="LoginError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TwoFactorAuthenticationRequired" />
      <xs:enumeration value="UnableToLogin" />
      <xs:enumeration value="WrongPasswordOrLogin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginError" nillable="true" type="tns:LoginError" />
</xs:schema>